# description
include README.rst

# version
include de_sim/VERSION

# license
include LICENSE

# examples
recursive-include examples *

# requirements
include requirements.txt
include requirements.optional.txt
