# description
include README.rst

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

# configuration
recursive-include de_sim/config *.cfg

# examples
recursive-include de_sim/examples *
