# description
README.rst

# version
include de_sim/VERSION

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

# configuration files
recursive-include de_sim *.cfg