sphinx >= 1.8
sphinx_rtd_theme >= 0.4.2
sphinxcontrib_addmetahtml >= 0.1.1
sphinxcontrib_bibtex
git+https://github.com/KarrLab/sphinxcontrib-googleanalytics.git#egg=sphinxcontrib_googleanalytics-0.1.1 >= 0.1.1
sphinxcontrib_spelling
sphinxprettysearchresults
